.container{
  padding: 0.5px;
  position: relative;
  .top{
    margin: 24px 0 0 12px;
    .pathDetail{
      margin: 8px 0 0 0;
      line-height: 20px;
      word-break: break-all;
    }
  }
  .main{
    padding: 8px 12px;
    .content{
      max-height: calc(100vh - 200px);
      overflow: auto;
      .archiveItem{
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 4px 8px;
        border-radius: 4px;
        &:hover{
          background: rgba(0,0,0,0.05);
          .operationArea{
            display: block;
          }
        }
        .fileNameArea{
          display: flex;
          align-items: center;
          margin-left: 8px;
        }
        .operationArea{
          display: none;
          margin-left: 8px;
          .deleteIcon{
            margin-left: 8px;
            font-size: 16px;
            color: #ff3f3f;
            cursor: pointer;
          }
        }
      }
    }
    .addBtn{
      display: block;
      width: 240px;
      margin: 12px auto 0;
    }
  }
}